In [1]:
import pandas as pd
import glob
import os
import numpy as np
import datetime as datetime

In [2]:
# merging the files
joined_files = os.path.join(r"C:\Users\kogla\OneDrive\Masaüstü\SWE599\dataset", "*.csv")

# A list of all joined files is returned
joined_list = glob.glob(joined_files)

# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True).drop('Unnamed: 0', axis=1)

df.shape[0]

139051

In [3]:
df[['departure_date','departure_week_day']] = df['departure_date'].str.split(",",expand=True)

In [4]:
df['departure_date'] = df['departure_date'].str.replace(' Ara ', '/12/')
df['departure_date'] = df['departure_date'].str.replace(' Kas ', '/11/')
df['departure_date'] = df['departure_date'].str.replace(' Eki ', '/10/')
df['departure_date'] = df['departure_date'].str.replace(' Eyl ', '/09/')
df['departure_date'] = df['departure_date'].str.replace(' Ağu ', '/08/')
df['departure_date'] = df['departure_date'].str.replace(' Tem ', '/07/')
df['departure_date'] = df['departure_date'].str.replace(' Haz ', '/06/')
df['departure_date'] = df['departure_date'].str.replace(' May ', '/05/')
df['departure_date'] = df['departure_date'].str.replace(' Nis ', '/04/')
df['departure_date'] = df['departure_date'].str.replace(' Mar ', '/03/')
df['departure_date'] = df['departure_date'].str.replace(' Şub ', '/02/')
df['departure_date'] = df['departure_date'].str.replace(' Oca ', '/01/')
df['departure_date'] = df['departure_date'].str.replace(' ', '')

In [5]:
df[['checked_date','checked_time']] = df['checked_date'].str.split(" ",expand=True)

In [6]:
# str to datetime conversion for dates DD-MM-YY
df['departure_date'] = pd.to_datetime(df['departure_date'], format='%d/%m/%Y')
df['checked_date'] = pd.to_datetime(df['checked_date'], format='%d/%m/%Y')

# str to datetime conversion for time HH:MM:SS
df['departure_time'] = pd.to_datetime(df['departure_time'],format= '%H:%M' ).dt.time
df['arrival_time'] = pd.to_datetime(df['arrival_time'],format= '%H:%M' ).dt.time
df['checked_time'] = pd.to_datetime(df['checked_time'],format= '%H:%M' ).dt.time

In [7]:
# price str to float conversion
df.columns = df.columns.str.replace('price', 'price_try')
df['price_try'] = df['price_try'].str.replace('.', '', regex=False)
df['price_try'] = df['price_try'].str.replace(",", ".", regex=False)
df["price_try"] = pd.to_numeric(df["price_try"], downcast="float")
df["price_try"]=df["price_try"].apply(lambda row: round(row,2))

In [8]:
# weekday name extraction for checked date and departure date (Monday, Tuesday...)
df['departure_week_day'] = df['departure_date'].dt.day_name()
df['checked_week_day'] = df['checked_date'].dt.day_name()

# month & day extraction
df['departure_day'] = df.departure_date.apply(lambda x: x.day)
df['departure_month'] = df.departure_date.apply(lambda x: x.month)

In [9]:
# feature extraction
# calculation remaining days to flight
df['remaining_day_to_flight'] = (df['departure_date'] - df['checked_date']).dt.days

In [10]:
def arrival_city_name(row):
    if row == "ADB" :
        return 'Izmir'
    elif row == "ESB" :
        return 'Ankara'
    elif row== "AYT" :
        return 'Antalya'
    elif row == "ADA" :
        return 'Adana'
    elif row == "BJV" :
        return 'Bodrum Milas'
    elif row == "DLM" :
        return 'Dalaman'
    elif row == "TZX" :
        return 'Trabzon'
    elif row == "GZT" :
        return 'Gaziantep'
    elif row == "DIY" :
        return 'Diyarbakir'
    elif row == "HTY" :
        return 'Hatay'
    elif row == "KSY" :
        return 'Kars'
    elif row == "ERZ" :
        return 'Erzurum'
    elif row == "MQM" :
        return 'Mardin'
    else:
        return none

In [11]:
def departure_airport_name(row):
    if row == "SAW" :
        return 'Sabiha Gökçen Airport'
    elif row == "IST" :
        return 'Istanbul Airport'
    else:
        return none

In [12]:
# create to column for city names
df["arrival_city"]=df["arrival_airport"].apply(lambda row: arrival_city_name(row))
df["departure_airport_name"]=df["departure_airport"].apply(lambda row: departure_airport_name(row))

In [13]:
# feature extraction
# calculate day part info for flight departure time
df['departure_hour'] = df.departure_time.apply(lambda x: x.hour)
conditions = [df.departure_hour.between(0, 4), df.departure_hour.between(4, 8), df.departure_hour.between(8, 12), df.departure_hour.between(12,16), df.departure_hour.between(16,20), df.departure_hour.between(20,24)]
choices = ['Late Night', 'Early Morning', 'Morning', 'Noon', 'Evening', 'Night']
df['part_of_day'] = np.select(conditions, choices)

In [14]:
# feature extraction
# find if flight date is end of month or weekend
df['is_weekend'] = np.where((pd.to_datetime(df['departure_date'],format='%Y-%m-%d').dt.dayofweek) < 5,0,1) 
df["is_weekend"]=df["is_weekend"].apply(lambda row: "Weekend" if row else "Weekday")
df["part_of_month"]=df["departure_day"].apply(lambda row: "Beginning" if row<=10 else ("Middle" if row<=20 else "End"))

In [15]:
#duration calculation as minutes
def durationConversion(row):
    if "dk" in row:
        row=row.replace("dk","").split("sa")
        return int(row[0])*60 + int(row[1])
    else:
        row=row.replace("sa", "")
        return int(row)*60

In [16]:
# duration calculation as total minutes
df["duration(min)"]=df["duration"].apply(lambda row: durationConversion(row))

In [17]:
df=df.drop(['checked_date', 'duration', 'checked_time'], axis=1)

In [18]:
df.head()

,company,departure_airport,arrival_airport,departure_time,arrival_time,departure_date,price_try,departure_week_day,checked_week_day,departure_day,departure_month,remaining_day_to_flight,arrival_city,departure_airport_name,departure_hour,part_of_day,is_weekend,part_of_month,duration(min)
0,AnadoluJet,SAW,ADB,07:30:00,08:40:00,2022-11-14,506.99,Monday,Tuesday,14,11,13,Izmir,Sabiha Gökçen Airport,7,Early Morning,Weekday,Middle,70
1,AnadoluJet,SAW,ADB,09:20:00,10:30:00,2022-11-14,506.99,Monday,Tuesday,14,11,13,Izmir,Sabiha Gökçen Airport,9,Morning,Weekday,Middle,70
2,AnadoluJet,SAW,ADB,20:55:00,22:05:00,2022-11-14,506.99,Monday,Tuesday,14,11,13,Izmir,Sabiha Gökçen Airport,20,Evening,Weekday,Middle,70
3,Pegasus,SAW,ADB,23:35:00,00:45:00,2022-11-14,539.99,Monday,Tuesday,14,11,13,Izmir,Sabiha Gökçen Airport,23,Night,Weekday,Middle,70
4,Pegasus,SAW,ADB,09:10:00,10:20:00,2022-11-14,542.99,Monday,Tuesday,14,11,13,Izmir,Sabiha Gökçen Airport,9,Morning,Weekday,Middle,70

In [19]:
# check if null values
df.isnull().any()

company                    False
departure_airport          False
arrival_airport            False
departure_time             False
arrival_time               False
departure_date             False
price_try                  False
departure_week_day         False
checked_week_day           False
departure_day              False
departure_month            False
remaining_day_to_flight    False
arrival_city               False
departure_airport_name     False
departure_hour             False
part_of_day                False
is_weekend                 False
part_of_month              False
duration(min)              False
dtype: bool

In [20]:
df.shape[0]

139051

In [21]:
df.duplicated().sum()

9538

In [22]:
df = df.drop_duplicates()

In [23]:
df.shape[0]

129513

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129513 entries, 0 to 139050
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company                  129513 non-null  object
 1   departure_airport        129513 non-null  object
 2   arrival_airport          129513 non-null  object
 3   departure_time           129513 non-null  object
 4   arrival_time             129513 non-null  object
 5   departure_date           129513 non-null  datetime64[ns]
 6   price_try                129513 non-null  float64
 7   departure_week_day       129513 non-null  object
 8   checked_week_day         129513 non-null  object
 9   departure_day            129513 non-null  int64
 10  departure_month          129513 non-null  int64
 11  remaining_day_to_flight  129513 non-null  int64
 12  arrival_city             129513 non-null  object
 13  departure_airport_name   129513 non-null  object
 14  departure_hour           129513 non-null  int64
 15  part_of_day              129513 non-null  object
 16  is_weekend               129513 non-null  object
 17  part_of_month            129513 non-null  object
 18  duration(min)            129513 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(12)
memory usage: 19.8+ MB

In [25]:
# save csv file
df.to_csv(r'C:\Users\kogla\OneDrive\SWE599-Flight-Ticket-Price-Estimation-Project\merged.csv')