In [15]:
import pandas as pd
import glob
import os
import numpy as np

In [2]:
# importing libraries
import pandas as pd
import glob
import os

# merging the files
joined_files = os.path.join(r"C:\Users\kogla\OneDrive\Masaüstü\SWE599\dataset1", "*.csv")

# A list of all joined files is returned
joined_list = glob.glob(joined_files)

# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True).drop('Unnamed: 0', axis=1)

df.head()

,checked_date,company,departure_airport,arrival_airport,departure_time,arrival_time,departure_date,duration,price
0,15/10/2022 23:02,Pegasus,SAW,ADA,16:00,17:25,"01 Ara 2022, Per",1sa 25dk,"702,99"
1,15/10/2022 23:02,Pegasus,SAW,ADA,07:45,09:10,"01 Ara 2022, Per",1sa 25dk,"742,99"
2,15/10/2022 23:02,Pegasus,SAW,ADA,20:20,21:45,"01 Ara 2022, Per",1sa 25dk,"742,99"
3,15/10/2022 23:02,Pegasus,SAW,ADA,11:40,13:05,"01 Ara 2022, Per",1sa 25dk,"792,99"
4,15/10/2022 23:02,Pegasus,SAW,ADA,18:10,19:35,"01 Ara 2022, Per",1sa 25dk,"792,99"

In [3]:
df[['departure_date','departure_week']] = df['departure_date'].str.split(",",expand=True)

In [4]:
df['departure_date'] = df['departure_date'].str.replace(' Ara ', '/12/')
df['departure_date'] = df['departure_date'].str.replace(' Kas ', '/11/')
df['departure_date'] = df['departure_date'].str.replace(' Eki ', '/10/')
df['departure_date'] = df['departure_date'].str.replace(' Eyl ', '/09/')
df['departure_date'] = df['departure_date'].str.replace(' Ağu ', '/08/')
df['departure_date'] = df['departure_date'].str.replace(' Tem ', '/07/')
df['departure_date'] = df['departure_date'].str.replace(' Haz ', '/06/')
df['departure_date'] = df['departure_date'].str.replace(' May ', '/05/')
df['departure_date'] = df['departure_date'].str.replace(' Nis ', '/04/')
df['departure_date'] = df['departure_date'].str.replace(' Mar ', '/03/')
df['departure_date'] = df['departure_date'].str.replace(' Şub ', '/02/')
df['departure_date'] = df['departure_date'].str.replace(' Oca ', '/01/')

In [5]:
df[['departure_day','departure_month','departure_year']] = df['departure_date'].str.split("/",expand=True)

In [10]:
df[['checked_date','checked_time']] = df['checked_date'].str.split(" ",expand=True)

,checked_date,company,departure_airport,arrival_airport,departure_time,arrival_time,departure_date,duration,price,departure_week,departure_day,departure_month,departure_year,checked_time
0,15/10/2022,Pegasus,SAW,ADA,16:00,17:25,01/12/2022,1sa 25dk,"702,99",Per,01,12,2022,23:02
1,15/10/2022,Pegasus,SAW,ADA,07:45,09:10,01/12/2022,1sa 25dk,"742,99",Per,01,12,2022,23:02
2,15/10/2022,Pegasus,SAW,ADA,20:20,21:45,01/12/2022,1sa 25dk,"742,99",Per,01,12,2022,23:02
3,15/10/2022,Pegasus,SAW,ADA,11:40,13:05,01/12/2022,1sa 25dk,"792,99",Per,01,12,2022,23:02
4,15/10/2022,Pegasus,SAW,ADA,18:10,19:35,01/12/2022,1sa 25dk,"792,99",Per,01,12,2022,23:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5257,15/10/2022,Türk Hava Yolları,IST,TZX,09:40,11:25,30/11/2022,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59
5258,15/10/2022,Türk Hava Yolları,IST,TZX,14:10,15:55,30/11/2022,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59
5259,15/10/2022,Türk Hava Yolları,IST,TZX,19:30,21:15,30/11/2022,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59
5260,15/10/2022,Türk Hava Yolları,IST,TZX,17:15,19:05,30/11/2022,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59
5261,15/10/2022,Türk Hava Yolları,IST,TZX,23:45,01:35,30/11/2022,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59

In [18]:
df['departure_date']= pd.to_datetime(df['departure_date'])
df['checked_date']= pd.to_datetime(df['checked_date'])
df

,checked_date,company,departure_airport,arrival_airport,departure_time,arrival_time,departure_date,duration,price,departure_week,departure_day,departure_month,departure_year,checked_time,remaining_day_to_flight
0,2022-10-15,Pegasus,SAW,ADA,16:00,17:25,2022-01-12,1sa 25dk,"702,99",Per,01,12,2022,23:02,-276.0
1,2022-10-15,Pegasus,SAW,ADA,07:45,09:10,2022-01-12,1sa 25dk,"742,99",Per,01,12,2022,23:02,-276.0
2,2022-10-15,Pegasus,SAW,ADA,20:20,21:45,2022-01-12,1sa 25dk,"742,99",Per,01,12,2022,23:02,-276.0
3,2022-10-15,Pegasus,SAW,ADA,11:40,13:05,2022-01-12,1sa 25dk,"792,99",Per,01,12,2022,23:02,-276.0
4,2022-10-15,Pegasus,SAW,ADA,18:10,19:35,2022-01-12,1sa 25dk,"792,99",Per,01,12,2022,23:02,-276.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5257,2022-10-15,Türk Hava Yolları,IST,TZX,09:40,11:25,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5258,2022-10-15,Türk Hava Yolları,IST,TZX,14:10,15:55,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5259,2022-10-15,Türk Hava Yolları,IST,TZX,19:30,21:15,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5260,2022-10-15,Türk Hava Yolları,IST,TZX,17:15,19:05,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5261,2022-10-15,Türk Hava Yolları,IST,TZX,23:45,01:35,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0

In [16]:
df['remaining_day_to_flight'] = (df['departure_date'] - df['checked_date']) / np.timedelta64(1, 'D')

In [17]:
df

,checked_date,company,departure_airport,arrival_airport,departure_time,arrival_time,departure_date,duration,price,departure_week,departure_day,departure_month,departure_year,checked_time,remaining_day_to_flight
0,2022-10-15,Pegasus,SAW,ADA,16:00,17:25,2022-01-12,1sa 25dk,"702,99",Per,01,12,2022,23:02,-276.0
1,2022-10-15,Pegasus,SAW,ADA,07:45,09:10,2022-01-12,1sa 25dk,"742,99",Per,01,12,2022,23:02,-276.0
2,2022-10-15,Pegasus,SAW,ADA,20:20,21:45,2022-01-12,1sa 25dk,"742,99",Per,01,12,2022,23:02,-276.0
3,2022-10-15,Pegasus,SAW,ADA,11:40,13:05,2022-01-12,1sa 25dk,"792,99",Per,01,12,2022,23:02,-276.0
4,2022-10-15,Pegasus,SAW,ADA,18:10,19:35,2022-01-12,1sa 25dk,"792,99",Per,01,12,2022,23:02,-276.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5257,2022-10-15,Türk Hava Yolları,IST,TZX,09:40,11:25,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5258,2022-10-15,Türk Hava Yolları,IST,TZX,14:10,15:55,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5259,2022-10-15,Türk Hava Yolları,IST,TZX,19:30,21:15,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5260,2022-10-15,Türk Hava Yolları,IST,TZX,17:15,19:05,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0
5261,2022-10-15,Türk Hava Yolları,IST,TZX,23:45,01:35,2022-11-30,1sa 45dk,"1.007,99",Çar,30,11,2022,22:59,46.0